body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url('cover.jpg');
    background-size: cover;
}

#bookingForm {
    max-width: 800px;
    margin: 100px auto;
    background-color: #f9f9f9;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

#bookingForm .left-column{
    width: 55%;
    padding-right: 30px;
}

#bookingForm .right-column {
    width: 45%;
    margin-top: 12%;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
}

form {
    display: grid;
    gap: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="date"]:focus,
input[type="time"]:focus,
input[type="number"]:focus {
    border-color: #4CAF50;
}

.payment-inputs input[type="text"] {
    margin-bottom: 10px;
}

button[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease-in-out;
    margin-top: 10%;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Additional styling for better visual presentation */
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="tel"]::placeholder,
input[type="date"]::placeholder,
input[type="time"]::placeholder,
input[type="number"]::placeholder {
    color: #999;
}

/* Responsive styling */
@media screen and (max-width: 768px) {
    #bookingForm {
        flex-direction: column;
        align-items: center;
    }

    #bookingForm .left-column,
    #bookingForm .right-column {
        width: 100%;
        padding: 0;
    }

    #bookingForm .left-column {
        margin-bottom: 40px;
    }
}
